@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    background: #232336;
    font-family: 'Poppins';
}

.bg-light {
    background-color: transparent!important;
}

.container {
    margin: 0;
}

.navbar-brand img {
    margin-left: 50px;
    margin-top: 50px;
    width: 70px;
    height: 70px;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF!important;
    margin: 10px 30px 0;
}

.nav-link:hover {
    text-decoration: underline 2px #427ED8;
    text-underline-position: under;
    color: #427ED8!important;
    transition: ease-in-out 1s;
}

.intro {
    margin-top: 70px;
    width: 100vw;
    padding: 0 5%;
}

.me {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: -35px;
    left: -35px;
    background: rgba(196, 196, 196, 0.1);
    width: 100%;
    height: 100%;
}

.intro h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.blue {
    color: #427ED8!important;
}

.intro p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    padding-right: 60px;
}

.intro button {
    background: #427ED8;
    border-radius: 10px;
}

.intro button a {
    color: #fff;
}

.about {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 91%);
    background-color: rgba(196, 196, 196, 0.1);
    width: 100vw;
    padding: 10%;
}

q {
    color: #fff;
    font-size: 13px;
}

.exp {
    padding: 10%;
    width: 100vw;
}

.about-head {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.about h2,
.exp h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
    margin-left: 10%;
}

.education h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}

.date {
    font-size: 11px;
}

.education p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #FFFFFF;
    margin: 0;
}

.education h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #427ED8;
}

.skill {
    background: #333344;
    border: 1px solid #427ED8;
    box-sizing: border-box;
    border-radius: 3px;
    width: 103px;
    height: 25px;
    margin: 45% 0;
}

.skill:hover {
    background: #427ED8;
    color: #fff;
    transition: ease-in-out 1s;
    cursor: pointer;
}

.skill p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.underline {
    width: 103px;
    height: 7px;
    background: #427ED8;
    border-radius: 9px;
    position: absolute;
    top: 54px;
}

.underline-reach {
    width: 103px;
    height: 7px;
    background: #427ED8;
    border-radius: 9px;
    position: absolute;
    top: 54px;
    left: 41.5%;
}

.project {
    height: 102px;
    width: 100%;
    background: #232336;
    border-radius: 10px;
    margin: 2%;
    padding: 1% 2%;
}

.project:hover {
    transform: scale(1.05);
    transition: ease-in-out 1s;
    box-shadow: #232336 0 10px 10px 0;
}

.project h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    text-transform: uppercase;
    color: #FFFFFF;
}

.project p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    margin: 0;
    color: #FFFFFF;
}

.project h4 a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #427ED8;
}

.education li {
    margin: 10% 2%;
    list-style-image: url("list-style.png");
}

.education {
    padding: 2% 4%;
}

.certificate {
    width: 100%;
    height: 100%;
    margin: 5% auto;
    position: relative;
    border-radius: 10px;
}

.certificate:hover {
    transform: scale(1.02);
    transition: ease-in-out 1s;
    cursor: pointer;
    filter: drop-shadow(0 0 0.25rem #fff);
}

.overlay-cert {
    position: absolute;
    top: -8px;
    left: -5px;
    background: #333344;
    border-radius: 10px;
    width: 80%;
    height: 80%;
}

.cert {
    padding: 2% 4%;
    width: 100vw;
}

.social {
    color: #427ED8;
    margin-top: 5%;
}

.social a {
    margin: 5%;
}

.social a svg {
    width: 40px;
    height: 40px;
}

.social a svg:hover {
    transform: scale(1.2);
    color: #fff;
    transition: ease-in-out 1s;
    filter: drop-shadow(0 0 0.75rem #fff);
}

footer {
    background: #333344;
    margin-top: 5%;
    height: 120px;
    padding: 2%;
}

footer p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    margin: 10px 0 0 0;
    color: #FFFFFF;
}

ul {
    padding: 0;
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(14.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg)
    }
    60% {
        transform: rotate( 0.0deg)
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate( 0.0deg)
    }
}

@media(max-width:1026px) {
    .navbar-light .navbar-toggler-icon {
        background-image: url("menu1.png");
    }
    .me {
        height: 95%;
    }
    .overlay {
        height: 95%;
    }
    .intro {
        margin-bottom: 70px;
    }
    .intro h1 {
        font-size: 35px;
        line-height: 50px;
    }
    .intro p {
        font-size: 13px;
        line-height: 20px;
    }
    .intro button {
        width: 40%;
        font-size: 15px;
    }
    .about-head {
        font-size: 30px;
        line-height: 50px;
    }
    .about {
        clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 97%);
    }
    .about h2,
    .exp h2 {
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        margin-left: 0;
    }
    .underline {
        width: 60px;
        height: 5px;
        background: #427ED8;
        border-radius: 9px;
        position: absolute;
        top: 45px;
    }
    .education li {
        margin: 5% auto 10%;
    }
    .skill {
        margin: 45% auto;
    }
}

@media(max-width:574px) {
    .nav-link {
        text-align: center;
    }
    .intro h1 {
        font-size: 25px;
        line-height: 50px;
    }
    .intro .col-sm-12 {
        margin-bottom: 15%;
    }
    .intro {
        display: flex;
        flex-direction: column-reverse;
    }
    .intro p {
        padding-right: 0;
        text-align: left;
    }
    .me {
        width: 85%;
    }
    .overlay {
        width: 85%;
        left: 0;
        top: -30px;
    }
    .intro button {
        width: 60%;
    }
    .skill {
        width: 90px;
    }
    .project {
        height: 110px;
    }
    .project h3 {
        font-size: 11px;
        line-height: 20px;
        padding-right: 15px;
    }
    .project p {
        font-size: 11px;
        line-height: 15px;
    }
    .project h4 a {
        font-size: 10px;
        line-height: 13px;
    }
    .education {
        margin-bottom: 10%;
        padding: 2% 8%;
    }
    .education h3 {
        font-size: 11px;
    }
    .cert {
        margin-bottom: 15%;
    }
    .cert .row .col-sm-6 {
        padding: 10%;
    }
    .overlay-cert {
        position: absolute;
        top: 20px;
        left: 12px;
        background: #333344;
        border-radius: 10px;
        width: 75%;
        height: 75%;
    }
    .social a svg {
        width: 25px;
        height: 25px;
    }
    .underline-reach {
        left: 30.5%;
    }
    .about {
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 98.5%)
    }
    .education p {
        font-size: 11px;
    }
    .date-2 {
        font-size: 10px!important;
    }
}